@use "mixins";

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 50px;
  width: 90%;

  & > .project {
    padding: 2rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: transform 1s;

    opacity: 0;
    transform: translateY(100px) scale(1);
    transition: transform 0.3s, opacity 0.3s;

    font-size: 3rem;

    &:nth-child(1) {
      --index: 1;
    }
    &:nth-child(2) {
      --index: 2;
    }
    &:nth-child(3) {
      --index: 3;
    }

    @include mixins.tablet() {
      padding: 5rem;
    }
  }

  @include mixins.tablet() {
    flex-direction: row;
    width: 100%;
  }
}
